<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show</h1>

        <a href="/players/"><button type="button"> Back</button></a>
       
        <h3>{{player.firstName}} {{player.last_name}}</h3>
        <img src="{{player.img}}" alt="{{player.name}}">
        <h3>Position: {{player.position}}</h3>
        <h3>Height: {{player.height_feet}}'{{player.height_inches}} </h3>
        
</body>
</html> 